/*
 * Treeview
 */

#pagemanager {
    background: #fff;
    border: 1px solid #999;
    padding: 16px;
    margin: 1px 0;
    /* the following lines enable a scrollable treeview; adjust the height to your needs */
    height: 400px;
    overflow: scroll !important;
}

#pagemanager.pagemanager_vertical {
    margin-left: 27px;
}

/*
 * Toolbar
 */

#pagemanager_toolbar {
    margin: 1px 0;
    border: 1px solid #999;
    background-color: #eee;
    padding: 0 8px;
    font-size: 14px;
    overflow: hidden;
}

#pagemanager_toolbar button {
    border: 0;
    padding: 0;
    width: 16px;
    height: 16px;
    background-color: #eee;
    cursor: pointer;
    margin: 6px 5px;
}
#pagemanager_toolbar img {
    margin: 8px 0;
}
#pagemanager_save {background-image: url("../images/save.png")}
#pagemanager_toggle {background-image: url("../images/toggle.png")}
#pagemanager_add {background-image: url("../images/add.png")}
#pagemanager_rename {background-image: url("../images/rename.png")}
#pagemanager_remove {background-image: url("../images/remove.png")}
#pagemanager_cut {background-image: url("../images/cut.png")}
#pagemanager_copy {background-image: url("../images/copy.png")}
#pagemanager_paste {background-image: url("../images/paste.png")}
#pagemanager_edit {background-image: url("../images/edit.png")}
#pagemanager_preview {background-image: url("../images/preview.png")}
#pagemanager_help {background-image: url("../images/help.png")}

/*
 * Context menu
 */

/* To have enough space for the whole context menu, if the template has a small footer */
#pagemanager_footer {
    height: 150px;
}

#vakata-contextmenu {
    width: 20em;
}
