parameters:
  level: 8
  paths:
    - classes/
    - admin.php
  bootstrapFiles:
    - phpstan.php
  scanFiles:
    - ../../cmsimple/classes/CSRFProtection.php
    - ../../cmsimple/classes/PageDataRouter.php
    - ../../cmsimple/classes/Pages.php
    - ../../cmsimple/adminfuncs.php
    - ../../cmsimple/functions.php
    - ../fa/classes/RequireCommand.php
    - ../jquery/jquery.inc.php
  ignoreErrors:
    - "#^Access to an undefined property Pagemanager\\\\View\\:\\:\\$[_A-Za-z0-9]+\\.$#"