parameters:
	ignoreErrors:
		-
			message: "#^Access to an undefined property Pagemanager\\\\View\\:\\:\\$title\\.$#"
			count: 1
			path: classes/MainAdminController.php

		-
			message: "#^Access to an undefined property Pagemanager\\\\View\\:\\:\\$submissionUrl\\.$#"
			count: 1
			path: classes/MainAdminController.php

		-
			message: "#^Access to an undefined property Pagemanager\\\\View\\:\\:\\$isIrregular\\.$#"
			count: 1
			path: classes/MainAdminController.php

		-
			message: "#^Access to an undefined property Pagemanager\\\\View\\:\\:\\$ajaxLoaderPath\\.$#"
			count: 1
			path: classes/MainAdminController.php

		-
			message: "#^Access to an undefined property Pagemanager\\\\View\\:\\:\\$hasToolbar\\.$#"
			count: 1
			path: classes/MainAdminController.php

		-
			message: "#^Access to an undefined property Pagemanager\\\\View\\:\\:\\$tools\\.$#"
			count: 1
			path: classes/MainAdminController.php

		-
			message: "#^Access to an undefined property Pagemanager\\\\View\\:\\:\\$csrfTokenInput\\.$#"
			count: 1
			path: classes/MainAdminController.php

		-
			message: "#^Access to an undefined property Pagemanager\\\\View\\:\\:\\$logoPath\\.$#"
			count: 1
			path: classes/PluginInfoController.php

		-
			message: "#^Access to an undefined property Pagemanager\\\\View\\:\\:\\$version\\.$#"
			count: 1
			path: classes/PluginInfoController.php

		-
			message: "#^Access to an undefined property Pagemanager\\\\View\\:\\:\\$checks\\.$#"
			count: 1
			path: classes/PluginInfoController.php
